{% extends "base.html" %}

{% block title %}Hello{% endblock %}

{% block content %}
    <div class="bg-color pt-2 pb-2">
        <h3 class="item-title pb-3 text-uppercase text-center text-info">TO DO List</h3>
        {% for article in articles %}
            <div class="card text-center">
                <div class="card-header">
                    <h5>{{ article.description }}</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Status: {{ article.get_status_display }}</h5>
                    <p class="card-text">{{ article.text }}</p>
                    <a href="{% url "task_view" article.pk %}" class="btn btn-info">Read more</a>
                </div>
                <div class="card-footer text-muted">
                    {{ article.created_at }}
                </div>
            </div><br/>
        {% endfor %}
        <br/>
        <a href="{% url 'task_create' %}" class="btn btn-lg btn-info ml-5 mb-5">Add New Task</a>
    </div>
{% endblock %}
